.error-feedback {
  color: red;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form {
  border-left: 1px solid #ccc; /* Màu và chiều rộng đường kẻ dọc */
  height: 100%; /* Chiều cao của đường kẻ dọc */
  margin-left: 10px; /* Khoảng cách từ cột */
}

form {
  background-color: aliceblue;
  border: 1px rgb(113, 106, 106) solid;
  padding: 50px;
  border-radius: 13px;
  justify-content: center;
}
